%h2 Summary
#summary-section
  %table{:id => "summary-table", :cellspacing => 0, :cellpading => 0}
    %tr
      %th Host
      %th 5 min average
      %th 10 min average
      %th 15 min average
      %th Last heartbeat
    -for host in @hosts
      %tr{:class => "level#{host.status}"}
        %td= host.hostname
        %td= host.load_5_min
        %td= host.load_10_min
        %td= host.load_15_min
        %td= "#{host.distance_to_last_heartbeat_in_seconds.to_i} seconds ago" unless host.status == 0
      


%table{:id => "section-table"}
  %tr
    -for host in @hosts
      - series_6h = host.loads_5_min_grain(@start_6h_ago, @end_now)
      - params_for_6h = "cht=lc&chs=350x120&chco=FF0000,00FF00,0000FF&chm=r,DDDDDD,0,0.2,0.21&chxt=x,y&chxr=1,0,5,1&chds=0,5&chl=&chd=t:#{series_6h[1].join(",")}|#{series_6h[2].join(",")}|#{series_6h[3].join(",")}"
      - series_24h = host.loads_15_min_grain(@start_24h_ago, @end_now)
      - params_for_24h = "cht=lc&chs=350x120&chco=FF0000,00FF00,0000FF&chm=r,DDDDDD,0,0.2,0.21&chxt=x,y&chxr=1,0,5,1&chds=0,5&chl=&chd=t:#{series_24h[1].join(",")}|#{series_24h[2].join(",")}|#{series_24h[3].join(",")}"
      %td
        .section
          %h2=host.hostname
          %p== Last heard from on #{host.last_contacted_on}
          %h4 Load averages for the last 24 hours
          %img{ :src => "http://chart.apis.google.com/chart?#{params_for_24h}"}
          %h4 Load averages for the last 6 hours
          %img{ :src => "http://chart.apis.google.com/chart?#{params_for_6h}"}
          

          